@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie List";
}

@model List<MovieForm>

<div>
    <table class="table table-bordered table-striped">

        <thead class="font-weight-bold">
            <tr>
                <td>Title</td>
                <td>Year</td>
                <td>Director</td>
                <td>Rating</td>
                <td>Edited</td>
                <td>LentTo</td>
                <td>Notes</td>
                <td>Category</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Title</td>
                    <td>@i.Year</td>
                    <td>@i.Director</td>
                    <td>@i.Rating</td>
                    <td>@i.Edited</td>
                    <td>@i.LentTo</td>
                    <td>@i.Notes</td>
                    <td>@i.Category.CategoryName</td>

                    <td> <a asp-controller="Home" asp-action="Edit" asp-route-movieid="@i.MovieId">Edit</a> </td>
                    <td> <a asp-controller="Home" asp-action="Delete" asp-route-movieid="@i.MovieId">Delete</a> </td>
                </tr>

            }
        </tbody>

    </table>
</div>
